src/test/resources/com/sun/tools/xjc/addon/xew/different-namespaces-helper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	jaxb:version="2.0"
	targetNamespace="http://www.bar.org/"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">

	<xsd:annotation>
		<xsd:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="different_namespaces" />
			</jaxb:schemaBindings>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element name="document">
        <xsd:complexType>
			<xsd:sequence>
				<xsd:element name="title" type="xsd:string" />
				<xsd:element name="author" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
    </xsd:element>
</xsd:schema>
