src/test/resources/com/sun/tools/xjc/addon/xew/element-any.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	jaxb:version="2.0"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
>
	<xs:annotation>
		<xs:appinfo>
			<jaxb:schemaBindings>
				<jaxb:package name="element_any" />
			</jaxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>

	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" type="data" />
				<xs:element name="type" type="xs:byte" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="data">
		<xs:sequence>
			<xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
