samples/jaxb2-maven-plugin/xsd/BudgetaryCommitment.xsd

<xs:schema xmlns="budgetary/commitment" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:con="budgetary/reference" targetNamespace="budgetary/commitment" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="budgetary/reference" schemaLocation="ContractorReference.xsd" />
	<xs:element name="BudgetaryCommitment" type="BudgetaryCommitmentType" />
	<xs:complexType name="BudgetaryCommitmentType">
		<xs:sequence>
			<xs:element name="ContractorReferences" type="con:ContractorReferencesType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
